.index-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 48px;
}

.index-page .first-section {
    border-bottom: 1px solid black;
    margin-bottom: 50px;
}

.index-page .introduction {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10vw;
}

.index-page .introduction .name-and-job {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.index-page .name-title {
    font-size: 5rem;
    font-weight: 400;
    font-family: 'Josefin Slab';
    letter-spacing: 2px;
    font-weight: 900;
}

.index-page .job-title {
    font-size: 2.5rem;
    color: rgb(78, 78, 77);
    font-weight: 400;
    font-family: 'Josefin Slab';
    font-weight: 600;
}

.index-page .introduction img.skills {
    width: min(500px);
    margin: auto;
}

.index-page .elia-pic img {
    width: 30vh;
    border-radius: 50%;
    transition: transform 0.3s;
    align-self: center;
    justify-self: center;
}

.index-page .elia-pic img:hover {
    transform: scale(1.05);
}

.index-page .about {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.index-page .about p {
    font-size: 25px;
    width: min(85%, 600px);
}

.contact-me-btn {
    margin: auto;
    text-align: center;
    display: block;
    margin-top: 50px;
    width: 250px;
    padding: 5px 20px;
    border: 1px solid black;
    border-radius: 2px;
    font-size: 24px;
    /* font-weight: 500; */
}

.cats-heart {
    width: 100%;
}

.index-page .projects {
    display: flex;
    flex-direction: column;
    gap: 125px;
    border-bottom: 1px solid black;
}

.index-page .project {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}

.index-page .project:last-of-type {
    margin-bottom: 100px;
}


.index-page .projects-title {
    font-size: 56px;
    margin-bottom: -90px;
}

.index-page .project-title {
    font-size: 36px;
}

.index-page .project-description {
    line-height: 30px;
    font-size: 20px;
    max-width: 800px;
}

.index-page .project-desktop-picture {
    width: 40%;
    display: block;
}

.project-demo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65%;
    transition: 0.3s;
}

.project-demo:hover {
    transform: scale(1.03);
}

.index-page .project-links {
    display: flex;
    gap: 30px;
    /* margin-bottom: -30px; */
    font-size: 14px;
}

.project-links a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.project-links a img {
    width: 36px;
}

.project-demo-tabs {
   width: 100%;
   border-top-right-radius: 20px;
   border-top-left-radius: 20px;
}

.project-demo-video {
    width: 100%;
    display: block;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.index-page .project-phone-demo {
    position: relative;
    height: 400px;
}

.index-page .project-phone-demo-border {
    width: 400px;
    position: absolute;
    z-index: 2;
}

.index-page .project-phone-demo-video {
    width: 150px;
    position: absolute;
}

@media (max-width: 1600px) {
    .project-demo {
        width: 65%;
    }
}

@media (max-width: 900px) {
    .index-page .introduction {
        flex-direction: column;
        gap: 5vw;
        margin-top: 40px;
    }

    .index-page .name {
        font-size: 3rem;
    }

    .index-page .about p {
        font-size: 18px;
    }

    .index-page .projects {
        gap: 100px;
    }

    .project-demo {
        width: 100%;
    }

    .contact-me-btn {
        margin-bottom: 40px;
    }

    .cats-heart {
        margin-bottom: 20px;
    }

    .first-section {
        margin-top: 20px;
    }
    .index-page .project {
        gap: 20px;
    }
    .contact {
        margin-top: 40px;
    }
    .index-page .project-links {
        margin-bottom: 0;
    }
    .index-page .introduction img.skills {
        width: 100%;
    }
}