.project-page {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.project-page .project-title {
    margin-bottom: 20px;
    font-size: 48px;
}

img.ow2-icon {
    display: inline;
    height: 80px;
    margin-left: 40px;
    margin-bottom: -20px;
}

img.book-icon {
    display: inline;
    height: 90px;
    margin-left: 40px;
    margin-bottom: -40px;
}

img.brush-icon {
    display: inline;
    height: 90px;
    margin-bottom: -30px;
}

.project-page .project-summary {
    max-width: 900px;
    font-size: 20px;
    font-weight: normal;
    line-height: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.project-page .project-demo {
    width: 40%;
}

.project-page .project-links {
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    gap: 2rem;
}

.project-page .project-ep-content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.project-page .project-ep-title {
    margin-top: 40px;
}

.project-page .reference {
    text-decoration: underline;
}

.project-page .overfast-api-pic {
    width: 30vw;
    margin: auto;
}

.mashals-data {
    margin-top: 50px;
    height: 400px;
    overflow-y: scroll;
    background-color: black;
    border: 10px solid green;
    border-radius: 20px;
    color: green;
}


.board-pic img {
    margin: auto;
    margin-top: 20px;
    width: 50%;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid black;
}

@media (max-width: 1200px) {
    .project-page .project-demo {
        width: 90%;
    }
    .project-page .mashals-data {
        width: 80%;
        margin: 40px auto;
    }
    .project-page .project-title {
        margin-top: 20px;
        margin-bottom: 20px;
    }


}